<!DOCTYPE html>
<html>
<head>
<style type='text/css'>
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 80%
}

header{
  width: 100%;
  height: 100px;
  float: left;
  background: #EEE;
  text-align: 'center';
}
.center {
  align-self: center;
    text-align: center;
    width: 100%;
    height: 10%;
}
#radioForm {
  margin: auto;
  align-content: center;
}
#options {
  margin: auto;
  margin-top: 80px;
}
#content {
  width: 100%;
  height: 90%;
  float: left;
  background: #DDD;
}

nav {
  text-align:center;
  width: 20%;
  height: 100%;
  float: left;
  background: #FFF;
}
</style>
<script src="angular-1.6.9/angular.min.js"></script>
<script src="Script.js"></script>
</head>
<body ng-app>
  <div class="center">
  <header>
    <h1>Cloud  Computing  Project2  Twitter  Sentiment  Analysis{{10+22}}</h1>
  </header>
</div>
  <div id="content">
<nav>
<form id="radioForm">
      <p>Map Type:</p>
  <div>
    <input type="radio" id="heatMap"
     name="Map" value="heatMap">
    <label for="heatMap">Heat Map</label>
    <br />
    <br />
    <input type="radio" id="markerMap"
     name="Map" value="markerMap">
    <label for="markerMap">Marker Map</label>
    <br />
  </div>
</form>
  <div id="options">
  State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select id="state" >
    <option value="" >All</option>
    <option value="Victoria">VIC</option>
    <option value="New South Wales">NSW</option>
    <option value="NT">NT</option>
    <option value="SA">SA</option>
    <option value="QLD">QLD</option>
    <option value="WA">WA</option>
  </select>
  <br /><br />

  City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select id="city" >
    <option value="" >All</option>
    <option value="Melbourne">Melbourne</option>
    <option value="Sydney">Sydney</option>
    <option value="Adelaide">Adelaide</option>
    <option value="Perth">Perth</option>
    <option value="Brisbane">Brisbane</option>
    <option value="Canberra">Canberra</option>
    <option value="Gold Coast">Gold Coast</option>
    <option value="New Castle">New Castle</option>
    <option value="Geelong">Geelong</option>
    <option value="Wollongong">Wollongong</option>
    <option value="Central Coast">Central Coast</option>
    <option value="Sunshine Coast">Sunshine Coast</option>
    <option value="Hobart">Hobart</option>
    <option value="Townsville">Townsville</option>
    <option value="Cairns">Cairns</option>
    <option value="Darwins">Darwins</option>
    <option value="Toowoomba">Toowoomba</option>
    <option value="Ballarat">Ballarat</option>
    <option value="Bendigo">Bendigo</option>
    <option value="Mandurah">Mandurah</option>
  </select>
</div>
  <br /><br /><br />
  <div id="startTime">
  <p>Start</p>
  <select id="startYear" >
    <option value=2018>2018</option>
    <option value=2017>2017</option>
    <option value=2016>2016</option>
    <option value=2015>2015</option>
    <option value=2014>2014</option>
    <option value=2013>2013</option>
    <option value=2012>2012</option>
  </select>
&nbsp;&nbsp;
  <select id="startMon" >
    <option value=1>Jan</option>
    <option value=2>Feb</option>
    <option value=3>Mar</option>
    <option value=4>Apr</option>
    <option value=5>May</option>
    <option value=6>Jun</option>
    <option value=7>Jul</option>
    <option value=8>Aug</option>
    <option value=9>Sep</option>
    <option value=10>Oct</option>
    <option value=11>Nov</option>
    <option value=12>Dec</option>
  </select>
  &nbsp;&nbsp;
  <select id="startDay" >
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
    <option value=9>9</option>
    <option value=10>10</option>
    <option value=11>11</option>
    <option value=12>12</option>
    <option value=13>13</option>
    <option value=14>14</option>
    <option value=15>15</option>
    <option value=16>16</option>
    <option value=17>17</option>
    <option value=18>18</option>
    <option value=19>19</option>
    <option value=20>20</option>
    <option value=21>21</option>
    <option value=22>22</option>
    <option value=23>23</option>
    <option value=24>24</option>
    <option value=25>25</option>
    <option value=26>26</option>
    <option value=27>27</option>
    <option value=28>28</option>
    <option value=29>29</option>
    <option value=30>30</option>
    <option value=31>31</option>
  </select>
</div>
<br />
<div id="endTime">
<p>End</p>
<select id="endYear" >
  <option value=2018>2018</option>
  <option value=2017>2017</option>
  <option value=2016>2016</option>
  <option value=2015>2015</option>
  <option value=2014>2014</option>
  <option value=2013>2013</option>
  <option value=2012>2012</option>
</select>
&nbsp;&nbsp;
<select id="endMon" >
  <option value=1>Jan</option>
  <option value=2>Feb</option>
  <option value=3>Mar</option>
  <option value=4>Apr</option>
  <option value=5>May</option>
  <option value=6>Jun</option>
  <option value=7>Jul</option>
  <option value=8>Aug</option>
  <option value=9>Sep</option>
  <option value=10>Oct</option>
  <option value=11>Nov</option>
  <option value=12>Dec</option>
</select>
&nbsp;&nbsp;
<select id="endDay" >
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>
  <option value=11>11</option>
  <option value=12>12</option>
  <option value=13>13</option>
  <option value=14>14</option>
  <option value=15>15</option>
  <option value=16>16</option>
  <option value=17>17</option>
  <option value=18>18</option>
  <option value=19>19</option>
  <option value=20>20</option>
  <option value=21>21</option>
  <option value=22>22</option>
  <option value=23>23</option>
  <option value=24>24</option>
  <option value=25>25</option>
  <option value=26>26</option>
  <option value=27>27</option>
  <option value=28>28</option>
  <option value=29>29</option>
  <option value=30>30</option>
  <option value=31>31</option>
</select>
</div>
<br /><br /><br />
<button type="button" onclick=getTweet()>Submit</button>
</nav>
    <div id="map"></div>
      <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: -33.865427, lng: 151.196123},
          mapTypeId: 'terrain'
        });
      }

      function eqfeed_callback(results) {
        var heatmapData = [];
        console.log(results.length);
        for (var i = 0; i < results.length; i++) {
          console.log(results[i]);
        }
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          map: map
        });
      }

      function dateEarlier(time1, time2) {
        var year1 = time1[0];
        var year2 = time2[0];
        var month1 = time1[1];
        var month2 = time2[1];
        var day1 = time1[2];
        var day2 = time2[2];
        if(year1<year2) {
          return true;
        }
        else if (year1>year2){
          return false;
        }
        else {
          if(month1<month2){
            return true;
          }
          else if(month1>month2){
            return false;
          }
          else if(month1==month2) {
            if(day1<=day2){
              return true;
            }
            else{
            return false;
          }
          }
        }
      }
      function dateinRange(startTime, endTime, time) {

        var startYear = parseInt(startTime[0],10);
        var startMonth = parseInt(startTime[1],10);
        var startDay = parseInt(startTime[2],10);

        var endYear = parseInt(endTime[0],10);
        var endMonth = parseInt(endTime[1],10);
        var endDay = parseInt(endTime[2],10);

        var startTime = [startYear, startMonth, startDay];
        var endTime = [endYear, endMonth, endDay];

        var year = time[0];
        var month = time[1];
        var date = time[2];
      return (dateEarlier(startTime, time) && dateEarlier(time,endTime));
      }
      function getTweet() {
//  console.log(dateEarlier([2018,2,1],[2018,2,17]));
//  console.log(dateEarlier([2018,2,17],[2018,2,29]));

    //    console.log(test.rows[0]);

      var startDay = (document.getElementById("startDay")).value;
      var startMonth = (document.getElementById("startMon")).value;
      var startYear = (document.getElementById("startYear")).value;
      var endDay = (document.getElementById("endDay")).value;
      var endMonth = (document.getElementById("endMon")).value;
      var endYear = (document.getElementById("endYear")).value;
      var startTime = [startYear, startMonth, startDay];
      var endTime = [endYear, endMonth, endDay];
      if(!dateEarlier(startTime,endTime)){
        alert("Invalid Date Range!");
        return false;
      }
    var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 2,
               center: {lat: -33.865427, lng: 151.196123},
               mapTypeId: 'terrain'
             });
        var newloc = [];
        var a = test.rows;
        // Create a <script> tag and set the USGS URL as the source.
         var script = document.createElement('script');

         // This example uses a local copy of the GeoJSON stored at
         // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
         script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
         document.getElementsByTagName('head')[0].appendChild(script);

        a.forEach((tweet)=>{

            time = [tweet.key[4],tweet.key[5],tweet.key[6]];
            if(dateinRange(startTime,endTime,time)){
              var city = document.getElementById("city").value;
              var state = document.getElementById("state").value;
        //      console.log(city);
        //      console.log(state);
        //      console.log("Melbourne".includes(city));

        if(tweet.key[3].includes(city) && tweet.key[2].includes(state)){
          newloc.push({lat:(tweet.key[9][1]), sentiment: tweet.key[0], lng:(tweet.key[9][0])});
        }
        }

        });
        console.log(newloc);
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        console.log(newloc.length + ' tweets has been found.');
        if(document.getElementById("markerMap").checked){
        var markers = newloc.map(function(location, i) {
          if (location.sentiment==='positive'){

              return new google.maps.Marker({
                position: location,
                icon: "./happy.png"
              });
            }
            else if (location.sentiment==='negative'){

                return new google.maps.Marker({
                  position: location,
                  icon: "./unhappy.png"
                });
              }
              else {

                  return new google.maps.Marker({
                    position: location,
                    icon: "./neutral.png"
                  });
                }
            });

            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
              }
                var heatmapData = [];
                for (var i = 0; i < newloc.length; i++) {
         var coords = newloc[i];
         var latLng = new google.maps.LatLng(coords.lat, coords.lng);
         heatmapData.push(latLng);
       }
       if(document.getElementById("heatMap").checked){
                var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatmapData,
      dissipating: false,
      map: map
    });
  }
      }

      </script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script src="test.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_3o6UfkCdkt3R_QOgflP9CJu30tziNHc&&libraries=visualization&callback=initMap">
      </script>
  </div>
</body>
</html>
